<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<display-name>Customer01</display-name>
	<listener>
      <listener-class>com.xelerate.customer01.be.core.PrjStartup
      </listener-class>
   </listener>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>XelerateWeb</servlet-name>
		<servlet-class>com.xelerate.web.WebServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>XelerateWeb</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	
	
	<!-- Rest Starts-->
	<servlet>
      <servlet-name>XelerateRest</servlet-name>
      <servlet-class>org.glassfish.jersey.servlet.ServletContainer
      </servlet-class>
      <init-param>
         <param-name>javax.ws.rs.Application</param-name>
         <param-value>com.xelerate.rest.RestApplication</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>XelerateRest</servlet-name>
      <url-pattern>/Rest/*</url-pattern>
   </servlet-mapping>
   <!-- Rest Ends -->
   
   
	

	<resource-ref>
	  <description>Primary database</description>
	  <res-ref-name>jdbc/xelerate-studio</res-ref-name>
	  <res-type>javax.sql.DataSource</res-type>
	  <res-auth>Container</res-auth>
	</resource-ref>
</web-app>
